.mywork-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mywork-page > div {
  width: 20%;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

.mywork-page > div  img {
  width: 100%;
  height: 70%;
}